body  {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: darkgoldenrod;
                   
}

span { 
    position: relative;
    color:rgb(12, 12, 116)

}
   header img {
    bottom: 6px;
    position: relative;
    left: 1100px;
    
}


    header h1  { 
        font-size: 10px;
        bottom: 40px;
    position: relative;
    top: 50px;
    right: 70px;
    color:rgb(6, 6, 109);
    padding-left: 70px;
    font-size: 30px;

}


nav {
       
    background-color: #dddddd;
}

nav ul {
    gap:40px;
    list-style: none;
    margin: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
     
   
}
nav ul  { color: rgb(20, 19, 19);}

nav ul li {     position: relative;
 gap: 50px;
   
    margin: 0 15px;
}

nav ul li a{ 


color: yellow;
color: rgb(13, 13, 156);
    
    text-decoration: none;
    font-weight: bold;

}



main {
    display: flex;
    padding: 20px;
}

aside.left {
    position: relative;
    width: 15%;
    background: beige;
    padding: 15px;
   border: 3px groove beige;
   position: relative;
    margin-bottom: 60px;
   margin-top: 40px;
 


}

aside.left ul :hover { color: rgb(2, 2, 2);
    list-style-type: none;
    padding: 0;
}

aside.left ul li
 {  position: relative;
        padding: 8px;
         color :#666666;
          list-style: none;
    

}

section.content {
    width: 60%;
    background: beige;
    padding: 20px;
    margin: 40 10px;
    position: relative;
}

section h3 {
    text-align: left;
    color: #666666;
}
section p{
    position: relative;
    display: block;
    color: black;
    
}
section h2{
    text-align: justify;
    color: #666666;
    text-decoration-color: rgb(26, 25, 25);
}
aside.right {
    width: 25%;
    background: beige ;
    padding: 15px;
    text-align: center;
    color: #666666;
    border: 3px groove beige;
    position: relative;
    margin-bottom: 70px;
   margin-top: 40px;
   

}

aside.right p { color: #666666;
    
}

footer  {
    background:  #dddddd;
    color: rgb(4, 22, 128);
    text-align: center;
    padding: 10px;
}



.container {
    width: 1000px;
    margin: auto;
    background: rgb(239, 239, 235);
}



main {
    display: flex;
    padding: 20px;
}

.content {
    width: 70%;
    padding-right: 20px;
}

.sidebar {
    width: 30%;
    background: #9b9ea1;
    padding: 15px;
    border-left: 2px solid #d6dde1;
}

h2 {
    color: #2c3e50;
}

form {
    max-width: 400px;
    margin: auto;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

